<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="EndOfDays.Properties.Settings.CMD_FXConnectionString" connectionString="Data Source=.;Initial Catalog=CMD-FX;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="EndOfDays.Properties.Settings.dbBeautyCommsupportConnectionString" connectionString="Data Source=.;Initial Catalog=dbBeautyCommsupport;Persist Security Info=True;User ID=sa" providerName="System.Data.SqlClient" />
    <add name="EndOfDays.Properties.Settings.CMD_FXConnectionString1" connectionString="Data Source=.;Initial Catalog=CMD-FX;Persist Security Info=True;User ID=sa;Password=1Q2w3e4r@" providerName="System.Data.SqlClient" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!--<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />-->
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
